{% extends 'common/base.html' %}

{% from 'common/macro.html' import pagination_show %}

{% block title %}博客-首页{% endblock %}

{% block page_content %}
    {{ wtf.quick_form(form) }}
    {% for p in posts %}
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="{{ url_for('static', filename='upload/'+p.user.icon) }}" alt="icon" style="width: 64px; height: 64px;">
                    </a>
                </div>
                <div class="media-body">
                    <div style="float: right;">{{ moment(p.timestamp).fromNow() }}</div>
                    <h4 class="media-heading">{{ p.user.username }}</h4>
                    {{ p.content }}
                {% if current_user.is_authenticated %}
                    <div class="collect" url="{{ url_for('posts.collect', pid=p.id) }}">{% if current_user.is_favorite(p.id) %}取消收藏{% else %}收藏{% endif %}</div>
                </div>
                {% endif %}
            </li>
        </ul>
    {% endfor %}
    {# 显示分页导航条，若需要传递额外参数，可以直接写在宏的后面 #}
    {{ pagination_show(pagination, 'main.index', id=3, name='xxx') }}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('.collect').click(function () {
                _this = this
                $.get($(this).attr('url'), function () {
                    if ($(_this).text() == '收藏') {
                        $(_this).text('取消收藏')
                    } else {
                        $(_this).text('收藏')
                    }
                })
            })
        })
    </script>
{% endblock %}